@import url('https://fonts.cdnfonts.com/css/general-sans');
@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
}

.c-space {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .c-space {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.head-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  background-image: linear-gradient(to right, #BEC1CF 60%, #D5D8EA 60%, #D5D8EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (min-width: 640px) {
  .head-text {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 20;
}

@media (min-width: 640px) {
  .nav-ul {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .nav-ul {
    gap: 1.5rem;
  }
}

.nav-li {
  color: rgb(163 163 163);
  font-family: 'General Sans', sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-li:hover {
  color: rgb(255 255 255);
}

@media (max-width: 639px) {
  .nav-li {
    width: 100%;
    border-radius: 0.375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .nav-li:hover {
    background-color: rgb(22 22 26);
  }
}

.nav-li_a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.nav-li_a:hover {
  color: rgb(255 255 255);
}

@media (min-width: 768px) {
  .nav-li_a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.nav-sidebar {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgb(21 21 24);
  backdrop-filter: blur(4px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  overflow: hidden;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 640px) {
  .nav-sidebar {
    display: none;
  }
}

.text-gray_gradient {
  background-image: linear-gradient(to right, #BEC1CF 60%, #D5D8EA 60%, #D5D8EA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* button component */
.btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: rgb(38 38 43);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: rgb(255 255 255);
  margin-left: auto;
  margin-right: auto;
}

.btn:active {
  transform: scale(0.95);
}

.btn-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  position: absolute;
  display: inline-flex;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  background-color: rgb(74 222 128);
  opacity: 0.75;
}

.btn-ping_dot {
  position: relative;
  display: inline-flex;
  border-radius: 9999px;
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgb(34 197 94);
}

/* hero section */
.hero_tag {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-family: 'General Sans', sans-serif;
  font-weight: 900;
  line-height: normal !important;
}

@media (min-width: 640px) {
  .hero_tag {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .hero_tag {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  .hero_tag {
    font-size: 3.75rem;
    line-height: 1;
  }
}

/* about section */
.grid-container {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgb(38 38 43);
  background-color: rgb(21 21 24);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 640px) {
  .grid-container {
    padding: 1.75rem;
  }
}

.grid-headtext {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(255 255 255);
  font-family: 'General Sans', sans-serif;
}

.grid-subtext {
  color: #afb0b6;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'General Sans', sans-serif;
}

.copy-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* projects section */
.arrow-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.75rem;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 9999px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

.arrow-btn:active {
  transform: scale(0.95);
}

.tech-logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: rgba(245, 245, 245, 0.1);
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* clients section */
.client-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .client-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.client-review {
  border-radius: 0.5rem;
  padding: 1.25rem;
  grid-column: span 1;
  background-color: rgba(38, 38, 43, 0.5);
}

@media (min-width: 768px) {
  .client-review {
    padding: 2.5rem;
  }
}

.client-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem;
  margin-top: 1.75rem;
}

@media (min-width: 1024px) {
  .client-content {
    flex-direction: row;
    align-items: center;
  }
}

/* work experience section */
.work-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .work-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.work-canvas {
  grid-column: span 1;
  border-radius: 0.5rem;
  background-color: rgb(21 21 24);
  border-width: 1px;
  border-color: rgb(38 38 43);
}

.work-content {
  grid-column: span 2;
  border-radius: 0.5rem;
  background-color: rgb(21 21 24);
  border-width: 1px;
  border-color: rgb(38 38 43);
}

.work-content_container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: 1.25rem;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  cursor: pointer;
  border-radius: 0.5rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.work-content_container:hover {
  background-color: rgb(38 38 43);
}

@media (min-width: 640px) {
  .work-content_container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.work-content_logo {
  border-radius: 1.5rem;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  background-color: rgb(15 15 19);
}

.work-content_bar {
  flex: 1;
  width: 0.125rem;
  margin-top: 1rem;
  height: 100%;
  background-color: rgb(38 38 43);
}

.group:hover .work-content_bar {
  background-color: rgb(22 22 26);
}

.group:last-child .work-content_bar {
  display: none;
}

/* contact section */
.contact-container {
  max-width: 36rem;
  position: relative;
  z-index: 10;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 3rem;
}

@media (min-width: 640px) {
  .contact-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.field-label {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(232 232 237);
}

.field-input {
  width: 100%;
  background-color: rgb(38 38 43);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(214 214 219);
  box-shadow: 0 25px 50px -12px rgb(21 21 24);
}

.field-input::placeholder {
  color: rgb(161 161 170);
}

.field-input:focus {
  outline: none;
}

.field-btn {
  background-color: rgb(22 22 26);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgb(21 21 24);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(255 255 255);
  gap: 0.75rem;
}

.field-btn_arrow {
  width: 0.625rem;
  height: 0.625rem;
  object-fit: contain;
  filter: invert(1) brightness(0);
}

/* footer */
.social-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38 38 43);
  border-width: 1px;
  border-color: rgb(21 21 24);
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}